.urlSection{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 72vh;
}

.urlSection .urlContainer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
}

.urlSection h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.urlSection p {
    font-size: 0.7em;
    margin-bottom: 20px;
}

.url-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #2c2c2c;
    color: #ffffff;
    font-size: 1em;
}

.url-input::placeholder {
    color: #aaa;
}

.shorten-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3a88e2;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.shorten-button:hover {
    background-color: #2d6bb9;
}

.information {
    margin-top: 20px;
    font-size: 0.8em;
    color: #aaa;
}


/* switch btn toggle  */

/* From Uiverse.io by gharsh11032000 */ 
/* The switch - the box around the slider */
.switch {
    font-size: 13px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #414141;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .switch input:checked + .slider {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border: 2px solid #0974f1;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.5em);
  }